@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
   body {
    font-family: 'Open Sans', sans-serif;
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243855, #141E30);
    background: linear-gradient(to right, #243855, #141E30);
    min-height: 100vh;
   }  
}


